In [27]:
import numpy as np
import pandas as pd

In [28]:
lab = ['a', 'b', 'c']
my_data = [10,20,30]
arr = np.array(data)
my_dict = {'a':10, 'b':20, 'c':30}

In [6]:
arr

array([10, 20, 30])

In [14]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [15]:
pd.Series(data = my_data, index = lab)

a    10
b    20
c    30
dtype: int64

In [17]:
pd.Series(my_data)

0    10
1    20
2    30
dtype: int64

In [18]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [19]:
pd.Series(my_dict)

a    10
b    20
c    30
dtype: int64

In [20]:
pd.Series(data=[sum,len,print,max])

0      <built-in function sum>
1      <built-in function len>
2    <built-in function print>
3      <built-in function max>
dtype: object

In [30]:
ser1 = pd.Series([1,2,3,4],['Apple','Mango','Grape','Peach'])

In [22]:
ser1

Apple    1
Mango    2
Grape    3
Peach    4
dtype: int64

In [29]:
ser2 = pd.Series([1,2,5,4],['Apple','Mango','Banana','Peach'])

In [31]:
ser2

Apple     1
Mango     2
Banana    5
Peach     4
dtype: int64

In [32]:
ser1['Apple']

1

In [33]:
ser1['Grape']

3

In [34]:
ser1 + ser2   # Integer will be converted in Decimal

Apple     2.0
Banana    NaN
Grape     NaN
Mango     4.0
Peach     8.0
dtype: float64